:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-color: #434455;
    --dark-text-color: #2e2f42;
    --light-text-color: #f4f4fd;
    --accent-color: #4d5ae5;
    --white-color: #ffffff;
    --hero-btn-hover: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    background-color: var(--white-color);
    letter-spacing: 0.02em;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}