.features-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-text-color);
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
}